


<div class="container grid">    
  <div class="left col">
  </div>
  <div class="right col">
    
    <form action=""> 
      <div class="title text-center"><h1>INSCRIPTION</h1></div>
      <div class="form flex gap-5">
        <div class="form-group-mini">
          <div class="flex-auto mb-4">
            <label for="integer" class="font-bold block mb-2"> Nom </label>
            <input type="text" id="integer"  [style]="{width:'350px', height:'40px', borderRadius:'5px'}" />
          </div>
          <div class="flex-auto">
            <label for="number" class="font-bold block mb-2"> email </label>
            <input type="email" id="number" [style]="{width:'350px', height:'40px', borderRadius:'5px'}" />
          </div>
        </div>
        <div class="form-group-mini">
          <div class="flex-auto mb-4">
            <label for="integer" class="font-bold block mb-2"> password </label>
            <p-password [(ngModel)]="value"  [style]="{width:'350px', height:'40px', borderRadius:'5px'}"></p-password>
            <input type="password" id="integer"  [style]="{width:'350px', height:'40px', borderRadius:'5px'}" />
          </div>
          <div class="flex-auto">
            <label for="number" class="font-bold block mb-2"> confirm password </label>
            <input type="password" id="number"  [style]="{width:'350px', height:'40px', borderRadius:'5px'}" />
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
