<div class="heeqder">
    <nav class="flex justify-content-between">
        <div class="logo pl-3" (click)="goToHome()">
            <img src="../../../../assets/img/logo-can.png" alt="CO-CAN">
        </div>
        <div class="logo pr-3">
            <img src="../../../../assets/img/logo-caf.png" alt="CAF">
        </div>
    </nav>
    <div class=" flex justify-content-center p-5 mini-baniere">
        <div class="text-center"><p>Bienvenue sur la plateforme de paiment banque et mobile de NGSER. Réaliser vos paiment en toute sécurité.</p></div>
        <div class="langue"><span class="fr">FR <img src="../../../../assets/img/la-france (1).png" alt="" height="15"></span> |<span class="en">EN <img src="../../../../assets/img/royaume-uni.png" alt="" height="15"></span></div>
    </div>